header {
    margin-top:1.562rem ;
    text-align: center;

}


.container {
    max-width: 627px;
    align-items: center;
    margin: auto;
    padding: 67px;

    position: relative;
    /*right: 10rem;*/
    

    
    & span {
        color: var(--color-brand);
                   
    }

    & h1 {
        padding-bottom: 2.75rem;
        padding-top: 1rem;
    }
    
}

#add-item {
    display: flex;
    gap: 1rem;

    & #item {
        border: 1px solid var(--border-primary);
        border-radius: 0.75rem;
        width: 28.18rem;
        padding: 0.75rem;

        &:hover {
            border: 2px solid var(--border-hover);
        }

        
    }

    & button {
        all: unset;
        
        color: var(--always-white);
        background-color: var(--color-brand);

        width: 10rem;
        height: 2.75rem;
        border-radius: 0.75rem;

        text-align: center;

        cursor: pointer;

        &:hover {
            background-color: var(--color-brand-hover);
        }

        
    }
}

.shop-list {
    display: flex;
    margin-top: 2.5rem;

    & .list-checkbox {
        flex-direction: column;
        gap: 0.75rem;
        width: 100%;
    }

    & li {
        align-items: center;
        justify-content: space-between;
        height: 3.562rem;
        width: 100%;
        padding: 1rem;
        border-radius: 0.75rem;
        background: var(--bg-secondary);
    }

}

.message-deleted {
    width: 33.5rem;
    height: 3.5rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto 0;
    background-color: red;
    font-size: 1.2rem;
    gap: 1rem;
    color: white;
    font-weight: 600;
  }


@media (width >= 30rem) {
    main {
      max-width: 37.5rem;
      margin-inline: auto;
    }
  }
